{% extends 'base.html' %}
{% block title %}Add new User{% endblock %}
{% block content %}
    <h1>Add new User</h1>
    {% if success == True %}
        <p>User added successfully!</p>
    {% elif success == False %}
        <p>Failed to add user.{{ error }}. <br>
            Please try again.</p>
    {% elif success == None %}
    {% endif %}
    <form action="/users/new" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add User</button>
    </form>
{% endblock %}