{% extends "base.html" %}
{% block title %} {{ user.name }} - Movie List{% endblock %}
{% block content %}
    <h1 class="title" style="text-align: center;">{{user.name}} - Movie List</h1>

    <header>
        {% if success == True %}
            <p>Movie added successfully!</p>
        {% elif success == False %}
            <p>Failed to add movie. Either movie already associated with user or movie does not
                exist. <br>
                Please try again!</p>
        {% elif success == None %}
        {% endif %}
        {% if movie_deleted == True %}
            <p>Movie deleted successfully!</p>
        {% elif movie_deleted == False %}
            <p>Failed to delete movie. Please try again.</p>
        {% elif movie_deleted == None %}
        {% endif %}
        <form action="/users/{{user.id}}" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Add Movie</button>
        </form>
    </header>
        {% for movie in user_movies %}
            <img height="200" alt="{{ movie.name }}" src="{{ movie.poster }}">
            <ul><li>{{ movie.name }} ({{ movie.year }})</li>
                <form action="/users/{{user.id}}/delete/{{movie.id}}"
                                                 method="POST">
                <button type="submit" id = "movie_id" name = "movie_id" value="{{ movie.id }}">
                Delete</button></form>
            <li>Director: {{ movie.director }}</li>
            <li>Rating: {{ movie.rating }} </li>
            <li>User Rating: {{ movie.user_rating }}</li>
            <li><form action="/users/{{user.id}}/{{movie.id}}"
                                                 method="POST">
                <label for="user_rating">New User Rating:</label>
                <input type="text" id="user_rating" name="user_rating" required>
                <button type="submit">Update</button></form></li>
            <hr>
                </ul>
        {% endfor %}

{% endblock %}